################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/exercise.api/appsettings.json
